body {
  font-family: $raleway;
}

h1 {
  font-family: $raleway;
  font-size: $xxx-large;
  font-weight: $bold;
}

h2 {
  font-family: $raleway;
  font-size: $xx-large;
  font-weight: $bold;
}

h3 {
  font-family: $raleway;
  font-size: $large;
  font-weight: $bold;
  text-align: left;
}

h4 {
  font-family: $raleway;
  font-size: $xx-large;
  font-weight: $bold;
}

h5 {
  font-family: $raleway;
  font-size: $large;
  font-weight: $regular;

}
