/*COLOR*/

/*grises*/
$white: #FFF;
$platinuim: #E8E8E8;
$gray: #BABABA;

/*naranjos*/
$dsalmon: #EE9480;
$melon: #F4BAAE;
$ppink: #FADFDA;

/*celestes*/
$bblue: #2AB7CA;
$mblue: #77D1DD;
$bluel: #B1E4EB;

/*negro*/
$onyx: #333745;
$sgray: #8F9199;
$lgray: #C7C8CC;


/*TIPOGRAFIA*/

$raleway: 'Raleway', sans-serif;
$opensans: 'Open Sans', sans-serif;

/*tamaños*/
$xxxxx-large: 3.125rem;
$xxxx-large: 2.813rem;
$xxx-large: 2.5rem;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

/*peso*/
$bold: 700;
$regular: 400;
